<div class="venue-details">
  <h1><%= @venue.name %></h1>
  <div>
    <% if current_user && current_user.admin? %>
      <ul class="button-group">
        <li><%= link_to 'Edit', edit_venue_path(@venue), class: 'button tertiery' %></li>
        <li><%= button_to 'Delete', venue_path(@venue), method: 'delete',
                                                      class: 'button tertiery' %>
        </li>
      </ul>
    <% end %>
  </div>
  <br>
  <p><%= link_to @venue.website, @venue.website, class: "website",
                                              target: "_blank" %></p>
  <p class="venue-address"><%= @venue.address %></p>
  <p class="venue-capacity">Capacity: <%= @venue.capacity %></p>
  <p class="venue-t-accessible"><%= @venue.display_t_accessible %></p>

  <% if(current_user && current_user.admin?) %>
    <%= hidden_field_tag :current_user, 'admin' %>
  <% elsif(current_user) %>
    <%= hidden_field_tag :current_user, current_user.id %>
  <% else %>
    <%= hidden_field_tag :current_user, nil %>
  <% end %>
  <%= hidden_field_tag :venue_id, @venue.id %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div id="react-reviews">
    <div class="heading">
      <h1>Reviews</h1>
      <%= link_to 'Add A Review', new_venue_review_path(@venue)%>
    </div>
    <%= render 'reviews/reviews' %>
  </div>
</div>
