<div class="venue-details">
  <h2><%= @venue.name %>
    <% if @venue.t_accessible %>
      <small class="train-icon">
        <span data-tooltip aria-haspopup="true"
              class="has-tip"
              data-disable-hover="false"
              tabindex="1"
              title="<%= @venue.display_t_accessible %>">
          <i class="fa fa-train fa-2x"></i>
        </span>
      </small>
    <% end %>
  </h2>
  <div>
    <% if current_user && current_user.can_modify?(@venue) %>
      <ul class="button-group">
        <li><%= link_to 'Edit', edit_venue_path(@venue), class: 'button tertiery' %></li>
        <li><%= button_to 'Delete', venue_path(@venue), method: 'delete',
                                                      class: 'button tertiery' %>
        </li>
      </ul>
    <% end %>
  </div>
  <p class="venue-address"><%= @venue.address %></p>
  <% if @venue.website %>
    <p>
      <%= link_to @venue.website, @venue.website, class: "website",
                                                  target: "_blank" %>
    </p>
  <% end %>
  <p class="venue-capacity">Capacity: <%= @venue.capacity %></p>

  <!-- For React -->
  <% if(current_user && current_user.admin?) %>
    <%= hidden_field_tag :current_user, 'admin' %>
  <% elsif(current_user) %>
    <%= hidden_field_tag :current_user, current_user.id %>
  <% else %>
    <%= hidden_field_tag :current_user, nil %>
  <% end %>
  <%= hidden_field_tag :venue_id, @venue.id %>
  <!-- End For React -->
  <div id="react-reviews">
    <div class="heading">
      <h1>Reviews</h1>
      <%= link_to 'Add A Review', new_venue_review_path(@venue)%>
    </div>
    <%= render 'reviews/reviews' %>
  </div>
</div>
