<div class="row review">
  <div class="columns small-12 medium-12">
    <div class="row">
      <%= render partial: 'votes/vote_buttons', locals: { review: review } %>
      <div class="rating columns small-1 medium-1">
        <h3><%= review.rating %></h3>
      </div>
      <div class="rating-body columns small-6 medium-7">
        <p><%= review.body %></p>
      </div>
      <div class="buttons columns small-3 medium-2">
        <ul class="button-group">
          <% if current_user %>
            <li><%= link_to 'Edit', edit_venue_review_path(@venue, review),
                                  class: 'button tertiery fixed-width-button' %></li>
            <li><%= button_to 'Delete', review_path(review),
                                    method: 'delete',
                                    class: 'button tertiery fixed-width-button' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
