<!DOCTYPE html>
<html>
<head
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Doors At Eight" %></title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="/" class="logo"><%= image_tag "logos/doorsateight_nav.jpg" %></a></li>
        <li><a href="/venues">All Venues</a></li>
        <%= render "venues/search" %>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <% if user_signed_in? %>
          <li class="text"><%= image_tag current_user.avatar, class: 'avatar' %></li>
          <li>
            <%= link_to "#{current_user.username}", edit_user_registration_path(@user)%>
          </li>
          <% if current_user.admin? %>
            <li><%= link_to "Admin Section", admin_users_path(current_user.id) %></li>
          <% end %>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, class: 'button', method: 'delete' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'button', method: 'get' %>
          </li>
          <li>
            <%= link_to 'Sign In', new_user_session_path, class: 'button', method: 'get' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= render "application/flash" %>

  <div class="row">
    <div class="columns">
      <%= yield %>
    </div>
  </div>

</body>
</html>
