<!DOCTYPE html>
<html>
<head
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "DoorsAtEight" %></title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if user_signed_in? %>
      Currently signed in as: <%= link_to "#{current_user.username}", edit_user_registration_path(@user) %>  |
      <div class="avatar">
        <%= image_tag(current_user.avatar.url) %>
      </div>
      <%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %>
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path %> | <%= link_to 'Sign In', new_user_session_path %>
    <% end %>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="row">
    <div class="columns">
      <%= yield %>
    </div>
  </div>

</body>
</html>
